Importing Sqlite

In [ ]:
import sqlite3

Creating Database

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Create Employees table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Employees (
        ID INTEGER PRIMARY KEY,
        Name TEXT,
        Department TEXT,
        Salary INTEGER,
        Hire_Date TEXT
    )
''')

# Create Departments table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Departments (
        ID INTEGER PRIMARY KEY,
        Name TEXT,
        Manager TEXT
    )
''')

# Commiting changes
conn.commit()

Inserting Values In Database

In [ ]:
# Insert data into Employees table
employees_data = [
    (1, 'Alice', 'Sales', 50000, '2021-01-15'),
    (2, 'Bob', 'Engineering', 70000, '2020-06-10'),
    (3, 'Charlie', 'Marketing', 60000, '2022-03-20')
]
cursor.executemany('INSERT INTO Employees VALUES (?, ?, ?, ?, ?)', employees_data)

# Insert data into Departments table
departments_data = [
    (1, 'Sales', 'Alice'),
    (2, 'Engineering', 'Bob'),
    (3, 'Marketing', 'Charlie')
]
cursor.executemany('INSERT INTO Departments VALUES (?, ?, ?)', departments_data)

# Commiting changes
conn.commit()

Parsing SQL Query

In [ ]:
def parse_query(query):
    query = query.lower()
    if "show me all employees in the" in query:
        department = query.split("department")[0].split()[-1]
        return f"SELECT * FROM Employees WHERE Department = '{department.capitalize()}'"
    elif "who is the manager of the" in query:
        department = query.split("department")[0].split()[-1]
        return f"SELECT Manager FROM Departments WHERE Name = '{department.capitalize()}'"
    elif "list all employees hired after" in query:
        date = query.split("after")[1].strip()
        return f"SELECT * FROM Employees WHERE Hire_Date > '{date}'"
    elif "what is the total salary expense for the" in query:
        department = query.split("department")[0].split()[-1]
        return f"SELECT SUM(Salary) FROM Employees WHERE Department = '{department.capitalize()}'"
    else:
        return None

Executing Query

In [ ]:
def execute_query(query):
    cursor.execute(query)
    return cursor.fetchall()

Format and Display Results:

In [ ]:
def format_response(results):
    if not results:
        return "No results found."
    return "\n".join([str(row) for row in results])

Combining Everything

In [ ]:
def chat_assistant(query):
    sql_query = parse_query(query)
    if sql_query:
        results = execute_query(sql_query)
        return format_response(results)
    else:
        return "Sorry, I couldn't understand your query."

Testing the Chat Assistant

In [ ]:
print(chat_assistant("Show me all employees in the Sales department"))
print(chat_assistant("Who is the manager of the Engineering department?"))
print(chat_assistant("List all employees hired after 2021-01-01"))
print(chat_assistant("What is the total salary expense for the Marketing department?"))

(1, 'Alice', 'Sales', 50000, '2021-01-15')
('Bob',)
(1, 'Alice', 'Sales', 50000, '2021-01-15')
(3, 'Charlie', 'Marketing', 60000, '2022-03-20')
(60000,)